
body{
    background-color:aqua;
}
#container{
    font family:sans-serif;
    text-align:center;
    font-size:2rem;
}
button{
    font-size:1.5rem;
    padding:10px 20px;
    margin-top:20px;
    border-radius:10px;
    border:none;
    background-color:blue;
    color:white;
}
button:hover{
    background-color:darkblue;

}
button:active{
background-color:navy;
}
input{

    font-size:1.5rem;
    padding:10px;
    margin-top:20px;
    border-radius:10px;
    border:2px solid gray;
    text-align:center;
}
#diceimage img{
    
    width:150px;
     margin:5px;
}
footer{
    position: fixed;
    bottom: 10px;
    right: 15px;
    font-family: sans-serif;
    font-size: 14px;
}
footer a{
    
     font-family: "Georgia", "Times New Roman", serif;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: none;
    color: black;

}


footer a:hover{
    text-decoration: underline;
}

